[submodule "third_party/erpc"]
	path = third_party/erpc
	url = https://github.com/erpc-io/eRPC
[submodule "third_party/liburing"]
	path = third_party/liburing
	url = https://github.com/axboe/liburing
[submodule "third_party/spdk"]
	path = third_party/spdk
	url = https://github.com/spdk/spdk
[submodule "third_party/libco"]
	path = third_party/libco
	url = https://github.com/Tencent/libco.git
[submodule "third_party/CLHT"]
	path = third_party/CLHT
	url = https://github.com/LPD-EPFL/CLHT
[submodule "third_party/FlameGraph"]
	path = third_party/FlameGraph
	url = git@github.com:brendangregg/FlameGraph.git
